h1 {
  font-size: 50px;
}
.no-chrome-slide {
  width: 900px;
  height: 700px;
  display: block;
}
.me {
  text-align: center;
  color: #111;
}
.me >div {
  text-align: center;
  display: table;
  width: 100%;
  height: 100%;
}
.me >div >* {
  display: table-cell;
  vertical-align: middle;
  margin: auto;
}
.me .traits {
  list-style-type: disc;
  width: 600px;
  margin: auto;
  margin-top: 40px;
}
.me .traits li {
  text-align: left;
  line-height: 2;
}
